@import 'main/bootstrap-reboot.min';

@import 'main/_variables.scss';
@import 'main/_mixins.scss';
@import 'main/_font.scss';

* {
    font-family: 'Kayak Sans';
}

.container {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1570px;
    padding-right: 10px;
    padding-left: 10px;
}

@import 'blocks/_h2.scss';
@import 'blocks/_promo.scss';
@import 'blocks/_btns.scss';
@import 'blocks/_deliver.scss';
@import 'blocks/_favourites.scss';
@import 'blocks/_account.scss';
@import 'blocks/_rest.scss';

@import 'main/_media.scss';