@font-face {
    font-family: 'Kayak Sans';
    font-display: swap;
    src: url('../fonts/Kayak-Sans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kayak Sans';
    font-display: swap;
    src: url('../fonts/Kayak-Sans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kayak Sans';
    font-display: swap;
    src: url('../fonts/Kayak-Sans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}