@media (min-width: 1921px) {
    .favourites {
        background: none;
    }
    .rest {
        background: none;
    }
}

@media  (max-width: 1440px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    .rest__tittle {
        margin-bottom: 150px;
    }
    .partners__line {
        display: none;
    }
    .partners__item {
        margin-top: 50px;
    }
    .favourites__text {
        margin-right: 0px;
    }
}

@media (max-width: 1024px) {
    .deliver img {
        height: 200px;
        top: 10%;
    }
    .favourites__lines {
        display: none;
    }
    .favourites__wrapper {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .favourites__phone {
       height: 600px;
       padding-bottom: 50px;
    }
    .account__hands {
        display: none;
    }
    .rest__phone {
        height: 700px;
    }
    .rest__tittle {
        padding-right: 0;
    }
    .app {
        min-height: 600px;
    }
    .app__grass {
        display: none;
    }
    .app__veg {
        height: 500px;
    }
    .app__plate {
        display: none;
    }
    .app__plate-veg {
        height: 200px;
    }
    .app__store {
        height: 40px;
    }
    .app__icon {
        height: 90px;
    }
    .footer__wrapper {
        flex-direction: column;
    }
    .footer__block {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .deliver img {
        display: none;
    }
    .account__mushroom {
        display: none;
    }
    .account__lines {
        margin-top: 100px;
    }
    .rest {
        min-height: 1300px;
        background: none;
    }
    .rest__wrapper {
        flex-direction: column-reverse;
    }
    .app__veg {
        display: none;
    }
    .app {
        padding-top: 100px;
        min-height: 500px;
    }
    .app__lines {
        top: 0px;
    }
    .app__plate-veg {
        top: 100px;
    }
    .partners {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 425px) {
    .deliver {
        padding-top: 50px;
    }
    h2 {
        font-size: 32px;
    }
    .promo_tittle {
        margin-top: 115px;
    }
    .promo__subtittle {
        font-size: 20px;
    }
    .promo {
        min-height: 600px;
    }
    .deliver input {
        width: 307px;
    }
    .deliver button {
        margin-top: 10px;
    }
    .favourites__text {
        margin-right: 0;
    }
    .account__text {
        padding-right: 127px;
        padding-top: 0;
    }
    .rest {
        padding-top: 0;
        min-height: 1000px;
    }
    .app__plate-veg {
        display: none;
    }
    .partners {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 375px) {
    .promo__tittle {
        margin-top: 115px;
        font-size: 27px;
    }
    .deliver input {
        width: 257px;
    }
    .favourites {
        padding-top: 250px;
        min-height: 1200px;
    }
    .favourites__phone {
        height: 500px;
        padding-bottom: 50px;
    }
    .account__text {
        padding-right: 0;
    }
    .account__rest {
        display: none;
    }
    .account {
        min-height: 430px;
    }
    .rest__phone {
        height: 600px;
    }
}
   
@media (max-width: 320px ) {
    .deliver input {
        padding-left: 16px;
        width: 205px;
    }
    .favourites__phone {
        height: 400px;
    }
    .rest__phone {
        height: 400px;
    }
    .app__tittle {
        font-size: 28px;
    }
    .app__store {
        height: 35px;
    }
}